.pcm-cards {
  position: relative;
}

pcm-image{
  max-width: 100%;
  height: auto
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  padding:0.01em 16px;
  color:#fff!important;
  background-color:#000!important;
  opacity:0.60;filter:alpha(opacity=60);
  -webkit-backface-visibility:hidden;
  display: none;
}

.info-text{
  text-align: justify;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.pcm-slide {
  position: absolute;
  top: 0;
  left: 0;
}

.slide-images
{
  overflow: hidden;
  position: relative;
}
